:root {
    --purple: #0a0b2b;
    --dark-blue: #5A69C6;
    --light-blue: #7F8FF2;
    --sky-blue: #B2C9F5;
    --fog-white: #ccdef9;
}

body {
    font-family: 'Anton';
    background-color: rgb(255, 255, 255);
    margin: 0;
}


/* HEADER */

#site-header {
    background-color: var(--dark-blue);

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;
}

#site-header li {
    display: inline-block;
    margin: 0 20px;
}

#site-header li a {
    text-decoration: none;
    color: var(--fog-white);
}

.active {
    color: red !important;
}

/* SECTIONS */

#section-home {
    height: calc(100vw * (1080/1920) - 10px);
    position: relative;
    overflow-y: hidden;
}
#section-about {
    background-color: var(--purple);
    height: 2000px;
}

/* PARALLAX SCROLL */

#section-home > * {
    position: absolute;
    left: 0;
    width: 100%;
}

#section-home h1 {
    font-size: 9vw;
    text-shadow: 0 0.3vw 0px var(--fog-white);
    color: var(--purple);
    margin: 0;
    text-align: center;    
}

#first-name {
    top: 9vw;
    left: -3vw;
}

#last-name {
    top: 19vw;
    left: -3.5vw;
}


#section-home p {
    font-size: 1.5vw;
    color: var(--light-blue);
    margin: 0;
    text-align: center;
    width: 10vw;
}

#one {
    top: 14vw;
    left: 68vw;
    rotate: -15.5deg;
}

#two {
    top: 14.2vw;
    left: 76.5vw;
    rotate: 13deg;
}

#three {
    top: 15.5vw;
    left: 85vw;
    rotate: 4deg;
}