:root {
    --purple: #0a0b2b;
    --dark-blue: #5A69C6;
    --light-blue: #7F8FF2;
    --sky-blue: #B2C9F5;
    --fog-white: #ccdef9;

    --text-white: rgb(232, 220, 255);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


/* HEADER */

#site-header {
    background-color: var(--dark-blue);

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;
}

#site-header li {
    display: inline-block;
    margin: 0 20px;
}

#site-header li a {
    text-decoration: none;
    color: var(--fog-white);
}

.active {
    color: red !important;
}

/* SECTIONS */

#section-home {
    font-family: 'Anton';

    height: calc(100vw * (1080/1920) - 10px);
    position: relative;
    overflow-y: hidden;
}
#section-about {
    background-color: var(--purple);
    height: 2000px;

    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 1fr;

    color: var(--light-blue);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding-top: 150px;
}

/* HOME SECTION */

#section-home > * {
    position: absolute;
    left: 0;
    width: 100%;
}

#section-home h1 {
    font-size: 10vw;
    text-shadow: 0 0.3vw 0px var(--fog-white);
    color: var(--purple);
    margin: 0;
    text-align: center;    
}

#first-name {
    top: 9vw;
}

#last-name {
    top: 20.5vw;
}

#section-home p {
    font-size: 1.5vw;
    color: var(--dark-blue);
    margin: 0;
    text-align: center;
    width: 10vw;
}

#one {
    top: 14.1vw;
    left: 69vw;
    rotate: -15.5deg;
}

#two {
    top: 14.3vw;
    left: 75.5vw;
    rotate: 18deg;
}

#three {
    top: 15.5vw;
    left: 82vw;
    rotate: 4deg;
}

#down-arrow {
    width: 100%;
    text-align: center;
    top: 40vw;
    color: var(--purple);
}


/* ABOUT SECTION */

#avatar-container {
    text-align: center;
    padding-right: 2%;
}

#about-container {
    padding-right: 10%;
}

#icon-container {  
    width: 280px;
    height: 280px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    padding-top: 20px;
}

#section-about h3 {
    color: var(--dark-blue);
    font-size: 20px;
}

#section-about p {
    color: var(--text-white);
    font-size: 30px;
}

#avatar {
    border-radius: 50%;
    width: 400px;
}

#toolkit-container img {
    width: 50px;
    height: 50px;
}

.invert {
    filter: invert(1);
}